.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
  
.modal-main {
    position:fixed;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
.display-block {
    display: block;
  }
  
.display-none {
    display: none;
  }