/* Class */
.navbar {
    width: 100%;
    background-color: #111;
    color: white;
    text-align: 'left';
    font-weight: bold;
}

.emoji{
    font-size: 50px;
}

.searchButton{
    font-weight: bold;
    color: gray;
    border: #f1f1f1 2px solid;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1 rem;
    border-radius: 5px;
}

.searchButton:hover{
    background-color: #f1f1f1;
    color:gray;
    border-color: gray;
}