img{
    object-fit: cover;
    width:100%;
    flex-direction:column;
    box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
}

.homeContainer{
    position: relative;
}

.homeContent{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome{
    color:gray;
    font-weight: bold;
    font-size: 60px;
}

.description{
    color:gray;
    font-weight: bold;
}

.welcButton{
    font-weight: bold;
    margin-top: 10px;
    color: gray;
    border: #f1f1f1 2px solid;
    padding: 5px 5px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1 rem;
    border-radius: 5px;
}

.welcButton:hover{
    background-color: #f1f1f1;
    color: #000000c0;
}